.container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: rgb(250, 249, 248);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.Homeicon {
    cursor: pointer;
}

#Homeicon {
    cursor: pointer;
}

.home {

    padding: 5px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.option {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    float: right;
}

.option1 {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    float: right;
}

.option1:hover {
    border-bottom: 2px solid red;
    border-width: 4px;
    transform: translateY(-5px);
    transition: transform 0.3s ease;

}

.option2:hover {
    border-bottom: 2px solid red;
    border-width: 4px;
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.option3:hover {
    border-bottom: 2px solid red;
    border-width: 4px;
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.option4:hover {
    border-bottom: 2px solid red;
    border-width: 4px;
    transform: translateY(-5px);
    transition: transform 0.3s ease;

}

.option5:hover {
    border-bottom: 2px solid red;
    border-width: 4px;
    /* transform: scale(1.10); */
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.firstgit {

    color: white;
    background-color: rgb(8, 0, 0);
    padding: 5px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}


/* /////////////////////////////////////////////////////////////////////////////////////// */

/*  <!-- first Card --> */
.firstCard {
    margin-top: 30px;
    background-color: azure;
    justify-content: space-between;
    display: flex;
    padding: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.card {
    float: left;
}

.text1 {
    color: rgb(70, 70, 248);
    margin-left: 70px;
}

.secondgit {
    height: 35px;
    width: 200px;
    color: white;
    background-color: rgb(245, 10, 10);
    padding: 5px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
    margin-left: 70px;
    margin-top: 40px;
}
.secondgit:hover{
    background-color: rgb(113, 25, 253);
}

.smallIMG {
    display: flex;
    padding: 5%;
    background-color: white;
    width: 500px;
    margin-left: 70px;
    margin-top: 40px;
}

.small {
    height: 70px;

}
/* /*  <!-- first Card --> */ *

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/*  <!-- first Card --> */

.mainIMG {
    height: 500px;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////// */

/*   <!-- second Card --> */

.secondCard {
    display: flex;

    justify-content: space-between;
}

#quote-right {
    display: flex;
    justify-self: center;
    color: rgb(105, 75, 252);


}

.aboutthinker1 {
    background-color: rgb(236, 239, 244);
    display: block;
    margin: 5%;
    padding: 5%;
}

.aboutthinker2 {
    background-color: rgb(236, 239, 244);
    display: block;
    margin: 5%;
    padding: 5%;
}

.thinker1 {

    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: flex;
    justify-self: center;

}

.thinker2 {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: flex;
    justify-self: center;

}

.thinkername {
    display: flex;
    justify-self: center;
}

.thinkerBG {
    display: flex;
    justify-self: center;
}

/*   <!-- second Card --> */

/* /////////////////////////////////////////////////////////////////////// */

/*   <!-- FEATURED SECTION --> */

.FEATURED {
    display: flex;
    justify-self: center;
    gap: 40px;
}


.FEATURED-TEXT {
    justify-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding-bottom: 20px;
}

.FEATURED-FIRST {
    display: flex;
    border: 2px solid rgb(173, 170, 170);
    background-color: rgb(226, 230, 235);
    width: 350px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    padding-left: 20px;
}

.FEATURED-SECOND {
    display: flex;
    border: 2px solid rgb(173, 170, 170);
    background-color: rgb(226, 230, 235);
    width: 350px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
}

.FEATURED-SECOND-SPAN {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.FEATURED-THIRD {
    display: flex;
    border: 2px solid rgb(173, 170, 170);
    background-color: rgb(226, 230, 235);
    width: 350px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
    padding-left: 10px;
}

/*   <!-- FEATURED SECTION --> */

/* ///////////////////////////////////////////////////////////////////////// */


/* <!-- now start templets --> */

.ABOUT1 {
    display: flex;
    margin: 5%;
    justify-content: space-between;

}


.IMG {
    height: 300px;
}

.icon {
    height: 40px;

}

.Escape {
    height: 60px;
    width: 500px;
    display: block;
    margin-left: 300px;
}

.heading {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.ABOUT2 {
    display: flex;
    margin: 5%;
    justify-content: space-between;

}

#Build {
    height: 60px;
    width: 500px;
    display: block;
    margin-left: 300px;
}

.ABOUT3 {
    display: flex;
    margin: 5%;
    justify-content: space-between;

}

.Banish {
    height: 60px;
    width: 500px;
    display: block;
    margin-left: 300px;
}

.ABOUT4 {
    display: flex;
    margin: 5%;
    justify-content: space-between;

}

.ABOUT5 {
    display: flex;
    margin: 5%;
    justify-content: space-between;

}


.Create {
    height: 60px;
    width: 500px;
    display: block;
    margin-left: 300px;
}

/* <!-- now start templets --> */

/* //////////////////////////////////// */




/*   <!-- section Card2 --> */


.SECOND-CARD {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.section2Card {
    display: grid;
    grid-column: 100px, 100px, 100px, 100px;
    padding: 30px;
    margin: 30px;
    gap: 35px;
    margin-left: 100px;
}

.AboutCard {
    height: 100px;
    width: 100px;
}

.AboutCardHeading {
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.AboutNumber {
    background-color: aqua;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.AboutCard1 {
    background-color: rgb(199, 199, 199);
    height: 60px;
    width: 500px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-radius: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.AboutCard2 {
    background-color: rgb(199, 199, 199);
    height: 60px;
    width: 500px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-radius: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.AboutCard3 {
    background-color: rgb(199, 199, 199);
    height: 60px;
    width: 500px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-radius: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}

.AboutCard4 {
    background-color: rgb(199, 199, 199);
    height: 60px;
    width: 500px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-radius: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}

.AboutCardIMG {
    height: 700px;
    padding: 60px;
    margin-top: 60px;
    width: 500px;
}

/*   <!-- section Card2 --> */

/* ////////////////////////////////////////////////// */

/*  <!-- section for the PRO subscription  --> */

.subscription {

    font-size: x-large;
    display: block;
    justify-self: center;

}

.subscription-heading {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    word-spacing: 5px;

}

.pro {
    background-color: blue;
    color: white;
    border-radius: 10px;
    display: inline;

}

.subscription-paragraph {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;
}

/*  <!-- section for the PRO subscription  --> */

/* /////////////////////////////////////////////////////////////////// */

/*   <!-- About the chellenge Card --> */

.chellenge {
    display: flex;
    margin: 10px;
    gap: 30px;
    margin: 20px;
    padding: 30px;
    justify-self: center;
}

.chellenge-first {
    height: 200px;
    width: 600px;
    background-color: rgb(239, 241, 243);
    padding: 20px;
}

#challenge-icon {
    display: flex;
    justify-self: center;
    height: 20%;
    width: 20%;
}

.chellenge-heading {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.LEARN-button {
    display: flex;
    justify-content: center;
    justify-self: center;
    height: 30px;
    width: 180px;
    text-align: center;
    padding-top: 20px;
    background-color: red;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.LEARN-button:hover{
    background-color: rgb(113, 25, 253);
}
/*   <!-- About the chellenge Card --> */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*   <!-- FAQs section --> */

.FAQs {
    display: flex;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    justify-self: center;
}

.box {
    display: grid;
    grid-template-columns: 100px, 100px, 100px, 100px, 100px, 100px, 100px;
    padding: 30px;
    margin: 30px;
    gap: 50px;


}

.box1 {
    background-color: rgb(208, 214, 214);
    height: 50px;
    width: 500px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid rgb(126, 122, 122);
}

.box2 {
    background-color: rgb(208, 214, 214);
    height: 50px;
    width: 500px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid rgb(126, 122, 122);
}

.box3 {
    background-color: rgb(208, 214, 214);
    height: 50px;
    width: 500px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid rgb(126, 122, 122);
}

.box4 {
    background-color: rgb(208, 214, 214);
    height: 50px;
    width: 500px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid rgb(126, 122, 122);
}

.box5 {
    background-color: rgb(208, 214, 214);
    height: 50px;
    width: 500px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid rgb(126, 122, 122);
}

.box6 {
    background-color: rgb(208, 214, 214);
    height: 50px;
    width: 500px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid rgb(126, 122, 122);
}

.box7 {
    background-color: rgb(208, 214, 214);
    height: 50px;
    width: 500px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid rgb(126, 122, 122);
}

#FAQicon {
    cursor: pointer;
}

/*   <!-- FAQs section --> */


/* ///////////////////////////////////////////////////////////////////////////////////////// */

/*   <!-- Section Portfolio-Worthy Project --> */

.ThirdGit-Main {
    background-color: rgb(250, 250, 250);
    padding: 10px;
}

.ThirdGit-Heading {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    word-spacing: 8px;
    font-size: xx-large;
    color: rgb(80, 80, 245);
}

.ThirdGit-Paragraph {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;
}

.ThirdGit {
    height: 35px;
    width: 200px;
    color: white;
    background-color: rgb(245, 10, 10);
    padding: 5px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
    justify-self: center;
}

.ThirdGit:hover{
    background-color: rgb(113, 25, 253);
}
/*   <!-- Section Portfolio-Worthy Project --> */


/* /////////////////////////////////////////////////////////////////////////////// */



/* <!-- START HIRING DEVELOPERS --> */

.HIRING-SECTION {
    margin-top: 40px;
    background-color: rgb(80, 80, 245);
    display: flex;
}

.HIRING-MAIN-CONTAIN {
    margin-left: 60px;
    margin-top: 50px;
}

.HIRING-HEADING {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    padding-top: 40px;
    color: white;
}

.HIRING-PARAGRAPH {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: white;
}

.HIRING-BUTTON {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 250px;
    text-align: center;
    padding-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
}

#HIRING-IMG {
    height: 500px;
    margin-top: 40px;
}
/* <!-- START HIRING DEVELOPERS --> */

/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* FOOTER ICONS */

.FOOTER-ICONS {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;

}


.FOOTER-TEXT {
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;

}

.FOOTER-ICONS-SECOND {
    color: aquamarine;
    margin-left: 300px;
    font-size: xx-large;
    display: flex;
    gap: 40px;

}

#FOOTER-ICON {
    cursor: pointer;
}

#FOOTER-ICON:hover {
    color: blue;
    rotate: 180deg;
}

/* FOOTER ICONS */

/* /////////////////////////////////////////////////////////////////////////////////////////// */

/* <!-- FOOTER SECTION --> */

.FOOTER-CONTAINER {
    display: flex;
}

.FOOTER-CONTAINER-FIRST {
    display: block;
    margin-left: 70px;

}

.FOOTER-HEADING {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;

}

.FOOTER-PARAGRAPH {
    font-family: Arial, Helvetica, sans-serif;

}

.FOOTER-INPUT {
    height: 40px;
    width: 300px;
    border-radius: 10px;
}

.FOOTER-BUTTON {
    height: 40px;
    width: 150px;
    background-color: red;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border: none;
    margin-left: 30px;
    cursor: pointer;
}
.FOOTER-BUTTON:hover{
    background-color: rgb(113, 25, 253);
}
.FOOTER-CONTAINER-SECOND-INNER {
    display: flex;
    gap: 40px;
    padding-left: 50px;
}

.FOOTER-CONTAINER-HEADING {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.FOOTER-CONTAINER-OPTIONS {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: slategray;
    cursor: pointer;
}